        <title>Print System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/flatui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/flatui/dist/css/flat-ui.css" rel="stylesheet">
        <script src="/static/flatui/dist/js/vendor/jquery.min.js"></script>
        <script src="/static/flatui/dist/js/flat-ui.min.js"></script>
        <script src="/static/flatui/docs/assets/js/application.js"></script>
