        <!-- Static navbar -->
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="/">Print</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <!--<li><p class="navbar-text">SYSU ACMM Club</p></li>-->
                  <li><p class="navbar-text">Flamingo Network Inc.</p></li>
                  <li><a href="http://172.18.131.80">SYSU Novice Programming Contest 2016</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><p class="navbar-text">{{ teamname }}</p></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
