<!DOCTYPE html>
<html>
    <head>
{% include "head.html" %}
    </head>

    <body>
        <style>
            body {
                padding-bottom: 50px;
           }
        </style>
{% include "navbar.html" %}
        <div class="container" align="center" style="width:60%; margin:0 auto">
            <form action="/post" method="get" class="form-group">
                <h5 align="left">Input a URL:</h5>
                <input type="url" value="http://" class="form-control url-input"/>
                <br>
                <style>
                    .url-input {
                        font-family: Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
                        color: #666;
                        font-size: 12px;
                    }
                </style>
                <input class="btn btn-primary btn-block" type="submit" value="Print">
            </form>
        </div>
    </body>
</html>


