<!DOCTYPE html>
<html>
    <head>
{% include "head.html" %}
    </head>

    <body>
        <style>
            body {
                padding-bottom: 50px;
           }
        </style>
{% include "navbar.html" %}
        <div class="container" align="center" style="width:60%; margin:0 auto">
            <form action="/print_web" method="post" class="form-group">{% csrf_token %}
                <h5 align="left">Input URLs, one per line:</h5>
                <textarea name="url" class="form-control codearea" rows="20"></textarea>
                <br>
                <style>
                    .codearea {
                        font-family: Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
                        color: #666;
                        font-size: 12px;
                    }
                </style>
                <div class="input-group">
                    <input name="piece" type="number" class="form-control">
                    <span class="input-group-btn" style="width: 80%;">
                        <input class="btn btn-inverse form-control" type="submit" value="Print">
                    </span>
                </div>
            </form>
        </div>
    </body>
</html>


